@font-face {
    font-family: 'bodyfont400';
    src: local('bodyfont400'), local('bodyfont400'), url('../fonts/bodyfont400.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'bodyfont500';
    src: local('bodyfont500'), local('bodyfont500'), url('../fonts/bodyfont500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  * {
    font-family: 'bodyfont500', sans-serif;
  }

  @media screen and (max-width: 768px) {
    * {
      font-family: 'bodyfont400', sans-serif;
    }
  }