table, td, th, tr {
    text-align: center;
}
.debit {
    color: #10b981;
}
.credit {
    color: #ff5e52;
}
.modal textarea {
    resize: none;
}
.modal .calculatedvalue {
    font-size: 25px;
    font-weight: bolder;
    color: #818cf8;
}
.slick-slide {
    padding: 0 10px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}
.ant-table-filter-dropdown-btns .ant-btn-primary {
    background: #22c55e;
}

.ant-table-filter-dropdown-btns .ant-btn-primary:hover {
    background: #15803d;
}
.float-button {
    float: left !important;
}
.ant-carousel .slick-dots li button {
    background: lightgrey !important;
  }
  .ant-carousel .slick-dots li .slick-active button {
    background: red !important;
    opacity: 1 !important;
  }